.*
!.gitignore
**/*~*
**/*.[Zz][Ii][Pp]
**/*.[Bb][Aa][Kk]
**/*.[Oo][Ll][Dd]
**/*.[Oo][Uu][Tt]
**/*.[Gg][Zz]
**/*.[Tt][Aa][Rr]
**/[Bb][Ii][Nn]/
**/[Oo][Bb][Jj]/
**/[Oo][Uu][Tt]/
**/[Oo][Ll][Dd]/
**/[Bb][Aa][Kk]/
**/[Aa][Rr][Kk]/
**/[Ee][Xx][Ee]/
**/[Tt][Pp][Uu]/
**/[Dd]eliv[123]/
**/assn[34]/
**/Debug/
**/[Dd]ependency*/
**/Release/
**/[Ww][Ii][Nn]32/
**/[Cc][Ll][Aa][Ss][Ss]/
**/*.class
**/*.dependency
**/*.[Rr][Ee][Ss]
**/*.[Ee][Xx][Ee]
**/*.[Tt][Pp][Uu]
**/*.[Oo][Bb][Jj]
**/*.[Dd][Ll][Ll]
**/*.log
**/*.pdf
**/*.vsd
**/*.zpj
**/*.rdb
**/*.ncb
**/*.opt
**/*.csm
**/*.crp
**/*.sbr
**/*.pch
**/*.bsc
**/*.pdb
**/*.idb
**/*.aps
**/*.dcu
**/*.dfm
**/*.?de
**/*.m?t
**/*.[Tt][Rr]2
**/*.DSW
**/*.OBR
**/Link*
**/[Bb][Aa][Cc][Kk][Uu][Pp]*
**/[Cc][Oo][Pp][Yy]*
**/[Rr][Cc]*
